{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <title>BCC</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js" integrity="sha256-ABVkpwb9K9PxubvRrHMkk6wmWcIHUE9eBxNZLXYQ84k=" crossorigin="anonymous"></script>
    </head>
    <style type="text/css">
     .outer-div{
             position: block;
             bottom: 30px;
             width: 50%;
        }
        .inner{
            padding-left: 20%;
            padding-right: 15%;
        }
        .form{
            width: 300px;
        }
        .button{
          width: 200px;
        }
    </style>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="#">BCC LDS Tracking System</a>
                </div>
                <ul id="tabs" class="nav navbar-nav">
                    <li class="nav-item"><a class="nav-link active" data-target="/generate/" href="/index/">QR Code Generator</a></li>
                    <li class="nav-item"><a class="nav-link" href="/studentstab/">Student List</a></li>         
                </ul>
            </div>
        </nav>
        <div class="tab-content">
                   <table id="student_table" style="width:98%; margin-left: 20px;" class="table table-bordered table-striped table-hover table-responsive">
                      <thead>
                          <th style="font-size: 100%;">id</th>
                          <th style="font-size: 100%;">Student Number</th>
                          <th style="font-size: 100%;">Name</th>
                          <th style="font-size: 100%;">Nickname</th>
                          <th style="font-size: 100%;">Birthdate</th>
                          <th style="font-size: 100%;">Contact Number</th>
                          <th style="font-size: 100%;">Leader</th>
                          <th style="font-size: 100%;">Contact Leader</th>
                          <th style="font-size: 100%;">Network</th>
                          <th style="font-size: 100%; display: none">id</th>
                      </thead>
                      <tbody>
                          {% for student in students %}
                          <tr>
                              <td style="font-size: 100%;">{{ forloop.counter }}</td>
                              <td style="font-size: 100%;">{{ student.student_number }}</td>
                              <td style="font-size: 100%;">{{ student.student_name }}</td>
                              <td style="font-size: 100%;">{{ student.student_nickname }}</td>
                              <td style="font-size: 100%;">{{ student.student_birthdate }}</td>
                              <td style="font-size: 100%;">{{ student.student_contact }}</td>
                              <td style="font-size: 100%;">{{ student.student_leader }}</td>
                              <td style="font-size: 100%;">{{ student.student_contactleader }}</td>
                              <td style="font-size: 100%;">{{ student.student_network }}</td>
                              <td style="font-size: 100%; display: none">{{ student.id }}</td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
          </div>
        </body>
</html>